<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">

            <form class="layui-form" action="" onsubmit="javascript:return false;">
                <input type="hidden" id="projectId" name="projectId" value="{{.projectId}}" />
                <div class="demoTable">
                    <button class="layui-btn" lay-submit="" lay-filter="add" id="add_source">添加</button>
                </div>
            </form>

    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>
</div>
<script>

    layui.use(['table','form','element'], function(){
        var table = layui.table;
        var form = layui.form;
        var element = layui.element;

        //方法级渲染
        var insl= table.render({
            elem: '#table_list'
            ,url: '/projectuser/tableuser?isExists={{.isExists}}'
            ,cols: [[
                {checkbox: true, fixed: true},
                {field:'id', title: 'ID', align:'center',sort: true, width:80}
                ,{field:'company_name',title: '公司名称', width:120}
                ,{field:'login_name',title: '登录账号', width:120}
                ,{field:'real_name', title: '真实姓名', width:120}
                ,{field:'phone', title: '联系电话', width:120}
                ,{field:'email', title: '电子邮箱', width:220}
                ,{field:'status_text', title: '状态'}
                ,{fixed: 'right', width:60, align:'center', toolbar: '#bar'}
            ]]
            ,id: 'listReload'
            ,page: true
            ,height: "full-130"
        });

        var $ = layui.$, active = {
            reload: function(){
                table.reload('listReload', {
                    where: {
                        realName: $('#realName').val(),
                    }
                });
            }
        };

        $("#add_source").click(function () {
            if($("#projectId").val() == ""){
                layer.ms("请重新选择项目,项目ID不能为空");
            }
            var checkStatus = table.checkStatus('listReload');
            var ids = "";
            $.each(checkStatus["data"],function(k,v){
                if (v.status==1) {
                    ids += v.id+",";
                }
            })
            ids = (ids.substring(ids.length-1)==',')?ids.substring(0,ids.length-1):ids;
            if (!ids) {
                layer.msg("请选择状态需要添加的用户")
                return false;
            }

            var jsData = {'user_ids':ids,'project_id':$("#projectId").val()}
            layer.load(2);
            $.post('{{urlfor "ProjectUserController.AjaxSave"}}', jsData, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1},function () {
                        window.parent.layer.closeAll();
                        window.parent.location.reload();
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");

        })

        //监听工具条
        table.on('tool(table_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                window.location.href="/user/edit?id="+data.id
            } else if(obj.event === 'status'){

                acts = "禁用";
                status = "disable";
                if (data.status === 0) {
                    acts = '启用';
                    status = "enable";
                }
                if (data.id==1 && obj.event === 'disable') {
                    layer.msg('超级管理员不允许操作');
                    return false;
                }

                layer.confirm('真的'+acts+'【'+data.login_name+'】账号么', function(index){
                    var jsData = {'id':data.id,'status':status}
                    $.post('{{urlfor "UserController.AjaxDel"}}', jsData, function (out) {
                        if (out.status == 0) {
                            layer.alert(out.message, {icon: 1},function(index){
                                layer.close(index);
                                window.location.reload();
                            });
                        } else {
                            layer.msg(out.message)
                        }
                    }, "json");
                    // obj.del();
                    layer.close(index);
                })

            }else{
                layer.msg('操作不存在');
            }
        });

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>