<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">

    <div class="layui-row" style="margin-top: 20px;">
        {{if eq .isFilter "y"}}
        <div class="layui-col-xs6">
            <a class="layui-btn" data-type="tabAdd" href="/manhour/add">新增</a>
        </div>
        {{end}}
        <div class="layui-col-xs6  {{if eq .isFilter "y"}} search_text {{end}}">
            <form class="layui-form" action="" id="queryForm" >
                <input type="hidden" id="isFilter" name="isFilter" value="{{.isFilter}}">
                <div class="demoTable">
                    <div class="layui-inline">
                       <input id="dateRange" name="dateRange" type="text" lay-verify="required" value="{{$.workDateStr}}"  placeholder="日期" class="layui-input date-icon"/>
                    </div>
                    <div  class="layui-inline tl">
                        <select id="projectId" name="projectId" lay-verify="required"  lay-search="">
                            <option value="">全部</option>
                        {{range $index,$elem := .sourceList}}
                            <option value="{{$elem.ProjectId}}"  > {{$elem.ProjectName}}</option>
                        {{end}}
                        </select>
                    </div>
                    {{if ne .isFilter "y"}}
                    <div class="layui-inline">
                        <input class="layui-input" name="realName" id="realName" autocomplete="off" placeholder="姓名" value="{{.realName}}">
                    </div>
                    {{end}}
                    <a class="layui-btn" data-type="reload">查询</a>
                    <button class="layui-btn layui-btn-normal" data-type="tabExport" >导出</button>
                </div>
            </form>
        </div>
    </div>


    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>

    <script type="text/html" id="bar">
        {{if ne .isFilter "y"}}
            <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
        {{else}}
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="status">删除</a>
        {{end}}
    </script>
</div>
<script>

    layui.use(['table','form', 'laydate','element'], function(){
        var table = layui.table;
        var form = layui.form;
        var element = layui.element;
        var $ = layui.$;
        var laydate = layui.laydate;
        //方法级渲染
        table.render({
            elem: '#table_list'
            ,url: '/manhour/table'
            ,where: {
                isFilter : {{.isFilter}},
                projectId:$('#projectId').val(),
                realName: $('#realName').val(),
                dateRange:$("#dateRange").val(),
            }
            ,cols: [[
                {field:'id', title: 'ID', align:'center',sort: true, width:60,style:"display:none"}
                ,{field:'project_name',title: '项目名称',sort: true,  width:180}
                ,{field:'real_name', title: '姓名',sort: true, width:120}
                ,{field:'work_date', title: '日期',sort: true, width:120}
                ,{field:'task_target', title: '当日工作目标'}
                ,{field:'task_progress', title: '任务进展情况'}
                ,{field:'man_hour', title: '本日用时', width:100}
                ,{field:'create_time', title: '创建时间', width:160}
                ,{field:'update_time', title: '修改时间', width:160}
                ,{fixed: 'right', width:120, align:'center', toolbar: '#bar'}
            ]],
            done:function () {
                $("[data-field='id']").css('display','none');
            }
            ,id: 'listReload'
            ,page: true
            ,height: "full-130"
        });

        var $ = layui.$, active = {
            reload: function(){
                table.reload('listReload', {
                    where: {
                        isFilter : {{.isFilter}},
                        dateRange:$("#dateRange").val(),
                        projectId:$("#projectId").val(),
                        realName: $('#realName').val(),
                    }
                });
            },
            tabExport:function () {
                $("#queryForm").attr("action",'{{urlfor "ManHourController.Excel"}}')
            }
        };


        // 渲染laydate
        laydate.render({
            elem: '#dateRange',
            range: true
        });


        //监听工具条
        table.on('tool(table_filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                window.location.href="/manhour/edit?id="+data.id
            }else if(obj.event === 'view'){
                window.location.href="/manhour/edit?id="+data.id+"&isView=y"
            } else if(obj.event === 'status'){

                status = "disable";
                if (data.status === 0) {
                    status = "enable";
                }

                layer.confirm('真的删除工时信息嘛？', function(index){
                    var jsData = {'id':data.id,'status':status}
                    $.post('{{urlfor "ManHourController.AjaxDel"}}', jsData, function (out) {
                        if (out.status == 0) {
                            window.location.reload();
                        } else {
                            layer.msg(out.message)
                        }
                    }, "json");
                    layer.close(index);
                })
                
            }else{
                layer.msg('操作不存在');
            }
        });

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>